@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
}

.button-cart {
    border-style: none;
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 15px;
    width: 200px;
    margin: 25px 0px 20px 150px;
}

.button-cart:hover {
    background-color: grey;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    width: 200px;
}